In [39]:
import pandas as pd
import math # find nan with logic

# Fixing the formatting of these wonderful people
    1. I had to install LibreOffice just to view the files...
    2. Unnamed 0 is the place where the exam takes place at.
    3. Loop over Unnamed 0 if nan then put the previous
    4. Delete the all NaN apart from location, as those are rows that just specify location.
    5. Finally we will append, first just few columns then next which are female and finally the total, we will see later if we use those.

In [16]:
#Data has multiple sheets and is formatted horribly.

#Male first, then female then total.

#Need to delete rows where it is just the new name

test =    pd.read_excel('dvsa1203_v2.ods',engine='odf',sheet_name='2023-24',skiprows=6)

In [23]:
test = test.rename(columns={'Unnamed: 0':'Location'})

In [62]:
name = test.iloc[0,0]

#Put the true names into the file, nan is a float else it is integeer 
for i in range(test.shape[0]):
    #If the location is of type float it means it is a missing value we replace it with the previous name.
    #If location is not a float it is a string, all posterior missing values will be that string, until next.
    if type(test.iloc[i,0])==float:
        
        test.iloc[i,0] = name
    else:
        name = test.iloc[i,0]

In [67]:
look_na = test.columns.to_list()
look_na.remove('Location')
look_na

['Age',
 'Conducted',
 'Passes',
 'Pass rate (%)',
 'Conducted.1',
 'Passes.1',
 'Pass rate (%).1',
 'Conducted.2',
 'Passes.2',
 'Pass rate (%).2']

In [70]:
test = test.dropna(subset=look_na)